{{ template "page/head_start" .}}
{{ template "page/head_end" .}}

{{ template "page/body_start" .}}
<a-layout id="app" v-cloak :class="themeSwitcher.currentTheme">
  <transition name="list" appear>
    <a-layout-content class="under min-h-0">
      <a-row type="flex" justify="center" align="middle" class="h-100 overflow-y-auto overflow-x-hidden">
        <a-col :xs="22" :sm="12" :md="10" :lg="8" :xl="6" :xxl="5">
          <template v-if="!loadingStates.fetched">
            <div class="text-center">
              <a-spin size="large" />
            </div>
          </template>
          <template v-else>
            <a-card>
              <template #title>
                <span>Crowbar</span>
              </template>
              <template #extra>
                <a-popover :overlay-class-name="themeSwitcher.currentTheme" title='{{ i18n "menu.settings" }}'
                  placement="bottomRight" trigger="click">
                  <template slot="content">
                    <a-space direction="vertical" :size="10">
                      <a-theme-switch-login></a-theme-switch-login>
                      <span>{{ i18n "pages.settings.language" }}</span>
                      <a-select ref="selectLang" class="w-100" v-model="lang"
                        @change="LanguageManager.setLanguage(lang)" :dropdown-class-name="themeSwitcher.currentTheme">
                        <a-select-option :value="l.value" label="English"
                          v-for="l in LanguageManager.supportedLanguages">
                          <span role="img" aria-label="l.name" v-text="l.icon"></span>
                          &nbsp;&nbsp;<span v-text="l.name"></span>
                        </a-select-option>
                      </a-select>
                    </a-space>
                  </template>
                  <a-button shape="circle" icon="setting"></a-button>
                </a-popover>
              </template>
              <a-form @submit.prevent="login">
                <a-form-item :style="{ marginBottom: '12px' }">
                  <a-input autocomplete="username" name="username" v-model.trim="user.username"
                    placeholder='{{ i18n "username" }}' autofocus required>
                    <a-icon slot="prefix" type="user" class="fs-1rem"></a-icon>
                  </a-input>
                </a-form-item>
                <a-form-item :style="{ marginBottom: '12px' }">
                  <a-input-password autocomplete="current-password" name="password" v-model.trim="user.password"
                    placeholder='{{ i18n "password" }}' required>
                    <a-icon slot="prefix" type="lock" class="fs-1rem"></a-icon>
                  </a-input-password>
                </a-form-item>
                <a-form-item v-if="twoFactorEnable" :style="{ marginBottom: '12px' }">
                  <a-input autocomplete="one-time-code" name="twoFactorCode" v-model.trim="user.twoFactorCode"
                    placeholder='{{ i18n "twoFactorCode" }}' required>
                    <a-icon slot="prefix" type="key" class="fs-1rem"></a-icon>
                  </a-input>
                </a-form-item>
                <a-form-item>
                  <a-button :style="{ width: '100%' }" type="primary" :loading="loadingStates.spinning"
                    :icon="loadingStates.spinning ? 'poweroff' : undefined" html-type="submit">
                    [[ loadingStates.spinning ? '' : '{{ i18n "login" }}' ]]
                  </a-button>
                </a-form-item>
              </a-form>
            </a-card>
          </template>
        </a-col>
      </a-row>
    </a-layout-content>
  </transition>
</a-layout>
{{template "page/body_scripts" .}}
{{template "component/aThemeSwitch" .}}
<script>
  const app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      themeSwitcher,
      loadingStates: { fetched: false, spinning: false },
      user: { username: "", password: "", twoFactorCode: "" },
      twoFactorEnable: false,
      lang: "",
      animationStarted: false
    },
    async mounted() {
      this.lang = LanguageManager.getLanguage();
      this.twoFactorEnable = await this.getTwoFactorEnable();
    },
    methods: {
      async login() {
        this.loadingStates.spinning = true;
        const msg = await HttpUtil.post('/login', this.user);
        if (msg.success) {
          location.href = basePath + 'panel/';
        }
        this.loadingStates.spinning = false;
      },
      async getTwoFactorEnable() {
        const msg = await HttpUtil.post('/getTwoFactorEnable');
        if (msg.success) {
          this.twoFactorEnable = msg.obj;
          this.loadingStates.fetched = true;
          return msg.obj;
        }
      }
    },
  });
</script>
{{ template "page/body_end" .}}