{{ template "page/head_start" .}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/lib/codemirror.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/theme/monokai.css">
{{ template "page/head_end" .}}

{{ template "page/body_start" .}}
<a-layout id="app" v-cloak :class="themeSwitcher.currentTheme + ' xray-page'">
  <a-crowbar-header></a-crowbar-header>
  <a-layout id="content-layout">
    <a-layout-content>
      <a-spin :spinning="loadingStates.spinning" :delay="500" tip='{{ i18n "loading"}}'>
        <transition name="list" appear>
          <a-row v-if="!loadingStates.fetched">
            <a-card
              :style="{ textAlign: 'center', padding: '30px 0', marginTop: '10px', background: 'transparent', border: 'none' }">
              <a-spin tip='{{ i18n "loading" }}'></a-spin>
            </a-card>
          </a-row>
          <a-row :gutter="[isMobile ? 12 : 16, isMobile ? 12 : 16]" v-else>
            <a-col>
              <a-card>
                <template #title>
                  <a-space direction="horizontal">
                    <a-button type="primary" :disabled="saveBtnDisable" @click="updateXraySetting">{{ i18n "pages.xray.save" }}</a-button>
                    <a-dropdown :trigger="['click']">
                      <a-button icon="menu"></a-button>
                      <a-menu slot="overlay" @click="a => generalActions(a)" :theme="themeSwitcher.currentTheme">
                        <a-menu-item key="restartXray" :disabled="!saveBtnDisable">
                          <a-icon type="reload"></a-icon>
                          {{ i18n "pages.xray.restart" }}
                        </a-menu-item>
                        <a-menu-item key="resetXrayConfig" :style="{ color: '#FF4D4F' }">
                          <a-icon type="history"></a-icon>
                          {{ i18n "pages.settings.resetDefaultConfig" }}
                        </a-menu-item>
                      </a-menu>
                    </a-dropdown>
                  </a-space>
                </template>
                <a-space direction="vertical" size="middle">
                  <template v-if="restartResult">
                    <a-alert type="error" show-icon>
                      <template #message>
                        <span>{{ i18n "pages.index.xrayErrorPopoverTitle" }}</span>
                      </template>
                      <template #description>
                        <span v-for="line in restartResult.split('\n')">[[ line ]]</span>
                      </template>
                    </a-alert>
                  </template>
                  <textarea :style="{ position: 'absolute', left: '-800px' }" id="xraySetting"></textarea>
                </a-space>
              </a-card>
            </a-col>
          </a-row>
        </transition>
      </a-spin>
    </a-layout-content>
  </a-layout>
</a-layout>
{{template "page/body_scripts" .}}
<script src="{{ .base_path }}assets/js/model/outbound.js?{{ .cur_ver }}"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/lib/codemirror.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/codemirror@5.51.0/mode/javascript/javascript.js"></script>
{{template "component/aCrowbarHeader" .}}
{{template "component/aThemeSwitch" .}}
{{template "component/aTableSortable" .}}
{{template "component/aSettingListItem" .}}
<script>
  const app = new Vue({
    delimiters: ['[[', ']]'],
    mixins: [MediaQueryMixin],
    el: '#app',
    data: {
      themeSwitcher,
      isDarkTheme: themeSwitcher.isDarkTheme,
      loadingStates: {
        fetched: false,
        spinning: false,
      },
      oldXraySetting: '',
      xraySetting: '',
      saveBtnDisable: true,
      refreshing: false,
      restartResult: '',
      cm: null,
      cmOptions: {
        lineNumbers: true,
        mode: "application/json",
        theme: 'monokai',
        matchBrackets: true,
        autoCloseTags: true,
        lineWrapping: true,
      },
    },
    methods: {
      loading(spinning = true) {
        this.loadingStates.spinning = spinning;
      },
      async generalActions(action) {
        switch (action.key) {
          case "restartXray":
            await this.restartXray();
            break;
          case "resetXrayConfig":
            await this.resetXrayConfigToDefault();
            break;
        }
      },
      async getXraySetting() {
        const msg = await HttpUtil.post("/panel/xray/");

        if (msg.success) {
          if (!this.loadingStates.fetched) {
            this.loadingStates.fetched = true;
          }

          const result = JSON.parse(msg.obj);
          const xs = JSON.stringify(result.xraySetting, null, 2);
          this.oldXraySetting = xs;
          this.xraySetting = xs;
          this.saveBtnDisable = true;
          this.syncEditor();
        }
      },
      async updateXraySetting() {
        this.loading(true);
        const msg = await HttpUtil.post("/panel/xray/update", {
          xraySetting: this.xraySetting
        });
        this.loading(false);
        if (msg.success) {
          await this.getXraySetting();
        }
      },
      async restartXray() {
        this.loading(true);
        const msg = await HttpUtil.post("/panel/api/server/restartXrayService");
        this.loading(false);
        if (msg.success) {
          await PromiseUtil.sleep(500);
          await this.getXrayResult();
        }
      },
      async getXrayResult() {
        const msg = await HttpUtil.get("/panel/xray/getXrayResult");
        if (msg.success) {
          this.restartResult = msg.obj;
        }
      },
      async resetXrayConfigToDefault() {
        this.loading(true);
        const msg = await HttpUtil.get("/panel/setting/getDefaultJsonConfig");
        this.loading(false);
        if (msg.success) {
          this.xraySetting = JSON.stringify(msg.obj, null, 2);
          this.syncEditor();
        }
      },
      initCodeMirror() {
        if (this.cm != null) {
          this.cm.toTextArea();
          this.cm = null;
        }

        const textAreaObj = document.getElementById('xraySetting');
        textAreaObj.value = this.xraySetting;
        this.cm = CodeMirror.fromTextArea(textAreaObj, this.cmOptions);
        this.cm.setSize("100%", "640px");
        this.cm.on('change', editor => {
          const value = editor.getValue();
          if (this.isJsonString(value)) {
            this.xraySetting = value;
          }
        });
      },
      syncEditor() {
        if (!this.cm) {
          return;
        }
        const editorValue = this.cm.getValue();
        if (editorValue !== this.xraySetting) {
          const cursor = this.cm.getCursor();
          this.cm.setValue(this.xraySetting);
          this.cm.setCursor(cursor);
        }
      },
      isJsonString(str) {
        try {
          JSON.parse(str);
        } catch (e) {
          return false;
        }
        return true;
      },
    },
    watch: {
      xraySetting(newVal) {
        this.saveBtnDisable = newVal === this.oldXraySetting;
        this.syncEditor();
      }
    },
    async mounted() {
      await this.getXraySetting();
      await this.getXrayResult();

      this.initCodeMirror();
    },
    computed: {
      templateSettings: {
        get: function () {
          const parsedSettings = this.xraySetting ? JSON.parse(this.xraySetting) : null;
          return parsedSettings;
        },
        set: function (newValue) {
          if (newValue) {
            this.xraySetting = JSON.stringify(newValue, null, 2);
          }
        },
      },
    },
  });
</script>
{{ template "page/body_end" .}}