{{define "modals/inboundInfoModal"}}
<a-modal id="inbound-info-modal" v-model="infoModal.visible" title='{{ i18n "pages.inbounds.details"}}' :closable="true"
  :mask-closable="true" :footer="null" width="600px" :class="themeSwitcher.currentTheme">
  <a-tabs default-active-key="inbound">
    <a-tab-pane tab="Inbound" key="inbound">
      <a-descriptions bordered size="small" layout="vertical" :style="{ marginBottom: '16px' }">
        <a-descriptions-item label='{{ i18n "protocol" }}' :span="3">
          <a-tag :style="{ margin: '0' }" color="purple">[[ dbInbound.protocol ]]</a-tag>
        </a-descriptions-item>
        <a-descriptions-item label='{{ i18n "pages.inbounds.address" }}'>[[ dbInbound.address ]]</a-descriptions-item>
        <a-descriptions-item label='{{ i18n "pages.inbounds.port" }}'>[[ dbInbound.port ]]</a-descriptions-item>
      </a-descriptions>
      <a-collapse default-active-key="inboundInfo_protocol">
        <a-collapse-panel v-for="setting in Object.entries(infoModal.inboundSettings)" v-if="setting[1].length >= 2"
          :key="`inboundInfo_${setting[0]}`" :header="collapseHeaders[setting[0]]">
          <a-crowbar-codemirror v-model="setting[1]"></a-crowbar-codemirror>
        </a-collapse-panel>
      </a-collapse>
    </a-tab-pane>
    <a-tab-pane v-if="infoModal.clientSettings" tab="Client" key="client">
      <div class="ant-crowbar-client-header">
        <div class="ant-crowbar-client-avatar">
          <a-icon type="user"></a-icon>
        </div>
        <div class="ant-crowbar-client-meta">
          <span class="ant-crowbar-client-meta-header">
            [[ infoModal.clientSettings.comment.trim().length >= 1 ? infoModal.clientSettings.comment :
            (infoModal.clientSettings.email ? infoModal.clientSettings.email : "{{ i18n "none" }}") ]]
          </span>
          <span class="ant-crowbar-client-meta-subheader" v-if="infoModal.clientSettings.comment.trim().length >= 1">
            [[ infoModal.clientSettings.email ? infoModal.clientSettings.email : "{{ i18n "none" }}" ]]
          </span>
        </div>
        <template>
          <a-tag v-if="isDepleted" color="red">{{ i18n "depleted" }}</a-tag>
          <a-tag v-else-if="isEnable" color="green">{{ i18n "enabled" }}</a-tag>
          <a-tag v-else>{{ i18n "disabled" }}</a-tag>
        </template>
      </div>
      <a-descriptions bordered size="small" layout="vertical" :style="{ marginBottom: '16px' }">
        <a-descriptions-item label='ID' :span="3">[[ infoModal.clientSettings.id ]]</a-descriptions-item>
        <a-descriptions-item v-if="dbInbound.isVMess" label='{{ i18n "security" }}' :span="3">[[
          infoModal.clientSettings.security ]]</a-descriptions-item>
        <a-descriptions-item v-if="infoModal.clientSettings.flow" label='Flow' :span="3">[[
          infoModal.clientSettings.flow ? infoModal.clientSettings.flow : '{{ i18n "none" }}' ]]</a-descriptions-item>
        <a-descriptions-item v-if="infoModal.clientSettings.password" label='{{ i18n "password" }}' :span="3">[[
          infoModal.clientSettings.password ]]</a-descriptions-item>
        <a-descriptions-item v-if="infoModal.clientStats" label='{{ i18n "usage" }}' :span="3">
          <span :style="{ marginRight: '6px' }">[[ SizeFormatter.sizeFormat(infoModal.clientStats.up + infoModal.clientStats.down) ]]</span>
          <a-tooltip :overlay-class-name="themeSwitcher.currentTheme">
            <template #title>
              <span>↑ [[ SizeFormatter.sizeFormat(infoModal.clientStats.up) ]] / [[ SizeFormatter.sizeFormat(infoModal.clientStats.down) ]] ↓</span>
            </template>
            <a-icon type="question-circle"></a-icon>
          </a-tooltip>
        </a-descriptions-item>
        <a-descriptions-item label='{{ i18n "pages.inbounds.createdAt" }}' :span="3">
          <template v-if="infoModal.clientSettings && infoModal.clientSettings.created_at">
            <span>[[ IntlUtil.formatDate(infoModal.clientSettings.created_at, { dateStyle: 'full', timeStyle: 'long' }) ]]</span>
          </template>
          <template v-else>
            <span>-</span>
          </template>
        </a-descriptions-item>
        <a-descriptions-item label='{{ i18n "pages.inbounds.updatedAt" }}' :span="3">
          <template v-if="infoModal.clientSettings && infoModal.clientSettings.updated_at">
            <span>[[ IntlUtil.formatDate(infoModal.clientSettings.updated_at, { dateStyle: 'full', timeStyle: 'long' }) ]]</span>
          </template>
          <template v-else>
            <span>-</span>
          </template>
        </a-descriptions-item>
        <a-descriptions-item label='{{ i18n "lastOnline" }}' :span="3">
          <span>[[ app.formatLastOnline(infoModal.clientSettings && infoModal.clientSettings.email ? infoModal.clientSettings.email : '') ]]</span>
        </a-descriptions-item>
        <a-descriptions-item v-if="infoModal.clientStats && infoModal.clientSettings.totalGB > 0"
          label='{{ i18n "remained" }}'>
          <a-tag :color="statsColor(infoModal.clientStats)"> [[ getRemStats() ]] </a-tag>
        </a-descriptions-item>
        <a-descriptions-item label='{{ i18n "pages.inbounds.totalFlow" }}'>
          <span v-if="infoModal.clientSettings.totalGB > 0"> [[
            SizeFormatter.sizeFormat(infoModal.clientSettings.totalGB) ]]
          </span>
          <span v-else class="infinite-tag">
            ∞
          </span>
        </a-descriptions-item>
        <a-descriptions-item label='{{ i18n "pages.inbounds.expireDate" }}'>
          <span v-if="infoModal.clientSettings.expiryTime > 0">
            [[ IntlUtil.formatDate(infoModal.clientSettings.expiryTime) ]]
          </span>
          <span v-else-if="infoModal.clientSettings.expiryTime < 0">[[
            infoModal.clientSettings.expiryTime /
            -86400000 ]] {{ i18n "pages.client.days" }}
          </span>
          <span v-else class="infinite-tag">
            ∞
          </span>
        </a-descriptions-item>
      </a-descriptions>
      <template v-if="app.subSettings.enable && infoModal.clientSettings.subId">
        <b :style="{ marginBlock: '16px' }">{{ i18n "subscription.individualLinks" }}</b>
        <a-list class="ant-crowbar-client-sublinks" size="small" bordered>
          <a-list-item class="ant-crowbar-client-sublink">
            <a-tooltip>
              <template #title>{{ i18n "pages.inbounds.openQrCode" }}</template>
              <a-icon type="qrcode" @click="window.open(`https://api.qrserver.com/v1/create-qr-code/?data=${infoModal.subLink}`)"></a-icon>
            </a-tooltip>
            <span>[[ infoModal.subLink ]]</span>
            <a-tooltip>
              <template #title>{{ i18n "pages.inbounds.openLink" }}</template>
              <a-icon type="link" @click="window.open(infoModal.subLink)"></a-icon>
            </a-tooltip>
          </a-list-item>
        </a-list>
      </template>
    </a-tab-pane>
  </a-tabs>
</a-modal>

<script>
  const collapseHeaders = {
    protocol: '{{ i18n "protocol" }}',
    stream: '{{ i18n "transmission" }}',
    sniffing: '{{ i18n "sniffing" }}',
  }

  const infoModal = {
    visible: false,
    inboundSettings: {
      protocol: "",
      stream: "",
      sniffing: ""
    },
    dbInbound: new DBInbound(),
    clientSettings: null,
    clientStats: [],
    index: null,
    subLink: '',
    show(dbInbound, index) {
      this.index = index;
      this.dbInbound = new DBInbound(dbInbound);
      this.inboundSettings = {
        protocol: JSON.stringify(JSON.parse(this.dbInbound.settings), null, 2) || "",
        stream: this.dbInbound.streamSettings != "" ? JSON.stringify(JSON.parse(this.dbInbound.streamSettings), null, 2) : "",
        sniffing: JSON.stringify(JSON.parse(this.dbInbound.sniffing), null, 2) || "",
      };
      this.clientSettings = JSON.parse(this.dbInbound.settings).clients ? JSON.parse(this.dbInbound.settings).clients[index] : null;
      this.clientStats = JSON.parse(this.dbInbound.settings).clients ? (this.dbInbound.clientStats.find(row => row.email === this.clientSettings.email) || null) : null;

      if (this.clientSettings) {
        if (this.clientSettings.subId) {
          this.subLink = this.genSubLink(this.clientSettings.subId);
        }
      }
      this.visible = true;
    },
    close() {
      infoModal.visible = false;
    },
    genSubLink(subID) {
      return app.subSettings.subURI + subID;
    },
  };

  const infoModalApp = new Vue({
    delimiters: ['[[', ']]'],
    el: '#inbound-info-modal',
    data: {
      infoModal,
      refreshing: false,
      get dbInbound() {
        return this.infoModal.dbInbound;
      },
      get isActive() {
        if (infoModal.clientStats) {
          return infoModal.clientStats.enable;
        }
        return true;
      },
      get isEnable() {
        if (infoModal.clientSettings) {
          return infoModal.clientSettings.enable;
        }
        return infoModal.dbInbound.isEnable;
      },
      get isDepleted() {
        const stats = infoModal.clientStats;
        const settings = infoModal.clientSettings;
        if (!stats || !settings) {
          return false;
        }
        const total = stats.total ?? 0;
        const used = (stats.up ?? 0) + (stats.down ?? 0);
        const hasTotal = total > 0;
        const exhausted = hasTotal && used >= total;

        const expiryTime = settings.expiryTime ?? 0;
        const hasExpiry = expiryTime > 0;
        const now = Date.now();
        const expired = hasExpiry && now >= expiryTime;

        return expired || exhausted;
      },
    },
    methods: {
      statsColor(stats) {
        return ColorUtils.usageColor(stats.up + stats.down, app.trafficDiff, stats.total);
      },
      getRemStats() {
        remained = this.infoModal.clientStats.total - this.infoModal.clientStats.up - this.infoModal.clientStats.down;
        
        return remained > 0 ? SizeFormatter.sizeFormat(remained) : '-';
      },
    }
  });
</script>
{{end}}